*{
    padding: 0; 
    margin: 0;
    font-family: sans-serif;
}
html,body{
    overflow-x: hidden;
}

/* Header Section start */
.header{
    width: 100%; 
    height: 70px; 
    display: flex; 
    align-items: center;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
}
.header .logo img{
    width: 60px;
    
}
.header .logo{
    width: 10%;
}
.header .nav-links{
    width: 88%;
}
.header a{
    text-decoration: none; 
    color: black; 
    margin: 5px; 
    padding: 10px;
}
.header .nav-links .row1{
    display: flex; 
    justify-content: space-between; 
    border-bottom: 0.4px solid lightgray; 
    padding-bottom: 5px;
}
.header .nav-links .row2{
    display: flex; 
    justify-content: space-between; 
    padding-top: 5px;
}
.nav-links .row2 .left a:hover{
    color: #db0448;
    border-bottom: 1px solid #db0448;
}
.right img{
    width: 25px;
}
.heade .mobile-icon{display: none;}
.header .nav-links .row2-mobile{display: none;}


/* Header section End */

/* Slider section start */
.slider{
    width: 100%;
    height: 600px;
    background-image: url("../img/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.slider a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: #db0448;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 78%;
    left: 10%;
}
/* Slider section End */

/* Items section Start */

.row3{display: grid;grid-template-columns: repeat(auto-fill, minmax(400px, 1fr )); gap: 30px; width: 80%; text-align: center; margin: auto; margin-top: 100px;}
.row3 img{width: 200px;}
.row3 .col{border: 1px solid lightgray; border-radius: 15px; padding: 15px;}

.row3 h1{
    font-size: 18px;
    padding: 30px;
}

.row3 p{
    padding: 15px;
    color: grey;
}

/* End of Items Section */

/* Start of slider2 */
.slider2{
    width: 100%;
    height: 800px;
    margin-top: 80px;
    text-align: center;
    background-image: url("../img/banner2.webp");
    background-size: contain;
    background-repeat: no-repeat;
    
}
.slider2 a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: #db0448;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: 20%;
}

/* End of Slider2 */

/* Start of Row 4 */
.row4{display: grid; grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); gap: 30px; width: 80%; text-align: left; margin: auto; margin-top: -280px !important;
}
.row4 img{
    width: 300px;
}
.row4 h2{
    padding: 20px 0px;
}
.row4 a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: rgb(66, 66, 66)

}
/* End of Row4 */

/* Start of  Features Section */
.features{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    margin-bottom: 30px;
}
.anchor-features{
    width: 80%;
    border-bottom: 0.4px solid lightgrey;
    padding-bottom: 20px;
}
.features a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(31, 31, 31);
    margin-left: 150px;   
   
}

/* End of Features Section */

/* Start of Most Popular Features */
.most-popular{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.most-popular img{
    width: 200px;
}
.most-popular h5{
    padding: 15px;
    font-size: 16px;
    color: rgb(66, 66, 66);
}

/* End of Most Popular */

/* Start of Section4 */
.section4{
    display: flex;
    width: 96%;
    justify-content: space-around;
    margin: auto;
    margin-top: 100px;
}
.section4 .col1{
    width: 38%;
    height: 873px;
    padding-left: 30px;
    text-align: center;
    background-image: url("../img/africa-home-block-1-t.webp");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.section4 .col1 h2{
    color: white;
    padding-top: 50px;
}
.section4 .col2{
    width: 58%;
}
.section4 .col2 .img1,.img2{
    height: 367px;
}
.section4 .col2 h2{
    padding-top: 20px;
    padding-left: 20px;
}
.section4 .col2 .img1{
    background-image: url("../img/africa-home-block-2-d.webp");
    background-size:cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    
}
.section4 .col2 .img2{
    background-image: url("../img/africa-home-block-3-d.webp");
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: -60px; */
}
/* End of Section4 */

/* Start of Section 5 */
.section5{
    display: flex;
    width: 80%;
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.section5 .col1{
    margin: auto;
}
.section5 .col1 img{
    width: 150px;
}
.section5 a{
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: black;
}
/* End of Section 5 */

/* Start of section6 */
.section6{
    justify-content: center;
    text-align: center;
    margin-top: 90px;
}
.section6 p{
    padding-top: 60px;
}
/* End of section6 */

/* start of section 7 */
.section7{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 35px;
    width: 80%;
    margin: auto;
    margin-top: 90px;;
}
.section7 .col1 img{
    width: 100px;
}
.section7 .col1 p{
    margin-left: 10px;
}
.section7 .col1 a{
    text-decoration: none;
    color: gray;
}
/* End of section7 */

/* Start of Footer Section */
.footer-section{
    margin-top: 100px;
    background-color: #f5f5f5;
    width: 100%
}
.footer-section1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin: auto;
    margin-left: 20px;
    padding-bottom: 40px;
    
}
.footer-section1 ul{
    list-style: none;
}
.footer-section1 a{
    text-decoration: none;
    padding: 5px;
    font-size: 12px;
    color: #6B6B6B;
}
.footer-section1 a:hover{
    text-decoration: underline;
}
.footer-section1 li{
    color: #6B6B6B;
    font-size: 12px;
}
.footer-section1 h3{
    padding: 10px 0px;
}
.footer-section1 h5{
    padding: 10px 0px;
}
.footer-section1 .v-line{
    border-left: 1px solid lightgray;
    padding-left: 10px;
}
/* End of Footer Section */

/* START OF TV/AUDIO/VIDEO SECTION */

/* Start of heading section */
.tv-section1{
    margin-top: 40px;
    text-align: center;
    padding: 10px;
}
.tv-section1 p{
    padding: 20px 0px;
}
/* End of Heading Section */

/* Start of TV Slider section */
.tv-slider{
    width: 100%;
    height: 550px;
    background-image: url("../img/africa-tvaudiovideo-hero-2-d.jpg");
    background-size: cover;
}
.tv-slider h1{
    color: white;
    font-size: 45px;
    position: relative;
    top: 45%;
    left: 58%;
}
.tv-slider a{
    text-decoration: none;
    color: white;
    background-color: #db0448;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    top: 60%;
    left: 58%;
}
/* End of TV Slider section */

/* Speakers Section Start */
.speakers-section{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin: auto;
    /* margin-left: 100px; */
    margin-top: 80px;
}
.speakers-section img{
    width: 300px;
}
.speakers-section .col1{
    text-align: center;
    /* width: 20%; */
    border: 1px solid lightgray;
    border-radius: 10px;
    /* margin: auto; */
    padding: 20px;

}
/* End of Speakers Section */

/* Start of Partners Section */
.patners-section1{
    text-align: center;
    padding: 40px 0px;
}
.patners-section2{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin: auto;
    /* margin-left: 150px; */
}
.patners-section2 .img{
    width: 150px;
}
.patners-section2 .col1{
    text-align: center;
    margin: 30px;
    
}
.patners-section2 .col1 a{
    text-decoration: none;
    color: white;
}
.patners-section2 .col1 button{
    margin-top: 10px;
    padding: 10px;
    background-color: #db0448;
    border: none;
    border-radius: 5px;
}
.patners-section2 .col1 button:hover{
    background-color: black;
}
/* End of Partners section */

/* Start of LG Slider */
.LG-slider{
    width: 100%;
    height: 700px;
    background-image: url("../img/africa-tvaudiovideo-hero-1-d.jpg");
    background-size: cover;
    
}
.LG-slider a{
    text-decoration: none;
    color: white;
    background-color: #db0448;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    top: 40%;
    left: 75%;
}
.LG-slider1{
    width: 100%;
    height: 700px;
    /* margin-left: 15px; */
    background-image: url("../img/africa-tvaudiovideo-pdp-2-d.jpg");
    background-size: cover;
    
}
.LG-slider1 h2{
    font-size: 35px;
    color: white;
    position: relative;
    top: 20%;
    left: 70%;
}
.LG-slider1 a{
    text-decoration: none;
    color: white;
    background-color: #db0448;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    top: 25%;
    left: 70%;
}

.LG-slider2{
    width: 100%;
    height: 700px;
    /* margin-left: 15px; */
    background-image: url("../img/africa-tvaudiovideo-pdp-3-d.jpg");
    background-size: cover;
    
}
.LG-slider2 h2{
    font-size: 35px;
    color: white;
    position: relative;
    top: 40%;
    left: 7%;
}
.LG-slider2 a{
    text-decoration: none;
    color: white;
    background-color: #db0448;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    top: 48%;
    left: 7%;
}
/* End of LG Slider */

/* Start of soundbars Section */
.soundbars-section{
    display: flex;
    width: 94%;
    justify-content: space-around;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
}
.soundbars-section .col1{
    width: 58%;
}
.soundbars-section .col1 .img1,.img2{
    height: 500px;
}
.soundbars-section .col1 .img1{
    background-image: url("../img/bluntspeaker.webp");
    background-size: cover;
    margin-bottom: 20px;
}
.soundbars-section .col1 .img2{
    background-image: url("../img/bluntbluetooth.webp");
    background-size: cover;
}
.soundbars-section .col2{
    width: 38%;
    height: 1020px;
    background-image: url("../img/bluntmifi.webp");
    background-size: cover;
   
}
.soundbars-section .col1 h2{
    font-size: 30px;
    color: white;
    padding: 40px;
}
.soundbars-section .col2{
    text-align: center;
}
.soundbars-section .col2 h2{
    font-size: 30px;
    color: white;
    padding-top: 60px;
}
.soundbars-section .col2 p{
    font-size: 20px;
    color: white;  
    padding-top: 10px; 
}


/* End of Soundbars Section */
/* End of TV/Audio/Video Section */

/* Start of Home Appliance */

/* Start of Home Appliances Heading */
.home-appliances{
    text-align: center;
    margin-top: 40px;
}
/* End of Home Appliances Heading */

/* Start of Home Appliances Slider */
.home-slider{
    width: 100%;
    height: 500px;
    margin-top: 40px;
    background-image: url("../img/africa-homeappliances-hero-1-d.jpg");
    background-size: cover;
}
.home-slider h1,a{
    color: white;
}
.home-slider h1{
    font-size: 38px;
    position: relative;
    top: 30%;
    left: 59%;
}
.home-slider .home-para{
    font-size: 18px;
    color: white;
    position: relative;
    top: 35%;
    left: 59%;
}
.home-slider a{
    text-decoration: none;
    background-color: #db0448;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: 40%;
    left: 59%;
}

/* End of home appliances Slider */

/* Start of Home Appliance Items */
.home-appliance-item{
    text-align: center;
    margin: 50px 0px;
}

.home-col{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin: auto;
    margin-top: 80px;
}
.home-col img{
    width: 200px;
}
.home-col .col1{
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;

}
/* End of Home Appliances Items */

/* Start of Home appliance Hero */
.home-appliance-hero{
    width: 100%;
    height: 850px;
    background-image: url("../img/africa-homeappliances-supercategory.jpg");
    background-size: cover;
}
.home-appliance-hero h1{
    font-size: 50px;
    color: white;
    position: relative;
    top: 25%;
    left: 60%;
}
.home-appliance-hero .appliance-para{
    font-size: 18px;
    color: white;
    position: relative;
    top: 30%;
    left: 60%;
}
.home-appliance-hero a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    background-color: #db0448;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: 35%;
    left: 60%;
}
/* End of Home appliance Hero */

/* Start of Home appliance Hero1 */
.home-appliance-hero1{
    width: 100%;
    height: 850px;
    margin-bottom: 150px;
    background-image: url("../img/africa-homeappliances-supercategory-6\(1\).jpg");
    background-size: cover;
}
.home-appliance-hero1 h1{
    font-size: 50px;
    color: white;
    position: relative;
    top: 25%;
    left: 60%;
}

.home-appliance-hero1 a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    background-color: #db0448;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: 30%;
    left: 60%;
}
/* End of Home appliance Hero1 */

/* CSS FOR MOBILE VERSION */

@media (max-width: 1050px) {
    .header .nav-links{width: 90%}
    .header a{font-size: 12px;}
    .section7{display: grid; grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 35px; width: 70%; margin: auto; margin-top: 90px;}
    .section4{display: flex; width: 99%; justify-content: space-around; margin: auto; margin-top: 100px;}
    .features a{font-size: 14px; margin-left: 80px;}
    .slider a{ position: absolute; top: 75%; left: 10%;} 
    
}
@media (max-width: 800px) {
    .header .lg-logo{width: 20% ; text-align: center;}
    .header .nav-links{width: 80% ;}
    .header .nav-links .row2{display: none;}
    .header .nav-links .row2-mobile img{width: 20px;}
    .header .nav-links .row2-mobile a{font-weight: 600;}
    .header .nav-links .row2-mobile{display: flex; justify-content: space-between; padding-top: 5px;}
    .slider{width: 100%;  background-image: url("../img/banner.webp");background-repeat: no-repeat; background-size: contain; height: 400px;}
    .slider a{ position: absolute; top: 65%; left: 10%;}  
    .slider2 a{text-decoration: none; font-size: 12px; background-color: #db0448; padding: 15px; position: relative; top: 15%;}
    .row4{display: grid; grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); gap: 30px; width: 50%; text-align: left; margin: auto; margin-top: -500px !important;
    }
    .row4 h2{font-size: 12px; }
    .features a{font-size: 12px; margin-left: 50px;}
    .most-popular h5{font-size: 12px;}
    .most-popular{display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 30px; width: 100%;
    margin: auto; margin-top: 30px;}
    .section4 .col1{width: 38%; height: 438px; background-image: url("../img/africa-home-block-1-t.webp"); background-size: cover; background-repeat: no-repeat;}
    .section4 .col2{ width: 54%;}
    .section4 .col2 .img1{ background-image: url("../img/africa-home-block-2-d.webp"); background-size:contain; background-repeat: no-repeat;}
    .section4 .col2 .img2{ background-image: url("../img/africa-home-block-3-d.webp"); background-size: contain; background-repeat: no-repeat; margin-top: -150px;}
    .section5{margin-top: -200px;}
    .section6 p{margin-top: -50px; font-size: 12px;}
    .section7{display: grid; grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); gap: 35px;
    width: 80%; margin: auto; margin-top: 90px;;}
}
@media (max-width: 425px){
    .header{border-bottom: 1px solid lightgrey; height: 55px;}
    .header .lg-logo{width: 20% ; text-align: center;}
    .header .lg-logo img{width: 10px;}
    .header .nav-links .row2-mobile img{width: 10px;}
    .header .nav-links .row1{display: none;}
    .header .nav-links .row2-mobile a{font-size: 8px;}
    .header .nav-links .row2-mobile{display: flex; padding-left: 20px;}
    .slider a{
        text-decoration: none;
        font-size: 10px;
        color: white;
        background-color: #db0448;
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        top: 38%;
        left: 10%;
    }
    .row4{display: grid; grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); gap: 30px; width: 80%; margin-left: 100px; text-align: left; 
    }
    .row4 img{width: 200px;}
    .row4 h2{
        padding: 10px 0px;
    }
    .row4 a{
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
        color: rgb(66, 66, 66)
    
    }
    .row3{display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr )); gap: 30px; width: 80%; text-align: center; margin: auto; margin-top: -150px;}
    .row3 img{width: 200px;}
    .row3 .col{border: 1px solid lightgray; border-radius: 15px; padding: 10px;}

    .row3 h1{
    font-size: 10px;
    padding: 20px;
}

.row3 p{
    padding: 8px;
    color: grey;
}
.slider2{
    width: 100%;
    margin-top: 80px;
    text-align: center;
    background-image: url("../img/banner2.webp");
    background-size: contain;
    background-repeat: no-repeat;
    
}
.slider2 a{
    text-decoration: none;
    font-size: 10px;
    color: white;
    background-color: #db0448;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: 5%;
}
    .features a{font-size: 8px; margin-left:2px}
    .most-popular h5{font-size: 10px;}
    .most-popular{display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 30px; width: 80%;
     margin-left: 100px; margin-top: 30px;}

    .section4 .col1{width: 38%; height: 438px; background-image: url("../img/africa-home-block-1-t.webp"); background-size: contain; background-repeat: no-repeat;}
    .section4 .col2{ width: 54%;}
    .section4 .col2 .img1{ background-image: url("../img/africa-home-block-2-d.webp"); background-size:contain; background-repeat: no-repeat;}
    .section4 .col2 .img2{ background-image: url("../img/africa-home-block-3-d.webp"); background-size: contain; background-repeat: no-repeat; margin-top: -250px;}
    .section4  h2{font-size: 14px;}
    .section5{margin-top: -100px !important;}
    .section5 .col1 img{
        width: 100px;
    }
    .section5 a{
        font-size: 14px;
    }
    .section5{
        margin-top: -300px;
        margin-left: 50px;
    }
    .section7 .col1 img{
        width: 50px;
    }
    .section7 .col1 p{
        margin-left: -3px;
    }
    .home-page{margin-top: 100px !important;} 
    

}

/* MEDIA QUERY FOR TV/AUDIO/VIDEO */
@media (max-width: 1050px){
    .tv-slider{background-image: url("../img/africa-tvaudiovideo-hero-2-d.jpg"); background-size: contain; background-repeat: no-repeat;}
    .tv-slider h1{font-size: 30px; position: relative; top: 30%; left: 58%;}
    .tv-slider a{padding: 10px; border-radius: 8px; position: relative; top: 35%; left: 58%;}
    .LG-slider{background-image: url("../img/africa-tvaudiovideo-hero-1-d.jpg"); background-size: contain; height: 500px; background-repeat: no-repeat;}
    .LG-slider a{position: relative; left: 60%;}
    .LG-slider1 h2{ position: relative; left: 65%;}
    .LG-slider1 a{ position: relative; left: 65%;}
    .LG-slider1{
        width: 100%;
        height: 700px;
        margin-top: -115px;
        background-image: url("../img/africa-tvaudiovideo-pdp-2-d.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    .LG-slider2{
        height: 500px;
        margin-top: -320px;
        background-image: url("../img/africa-tvaudiovideo-pdp-3-d.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        
    }
}

@media (max-width: 800px){
    .speakers-section{margin-top: -150px;}
    .LG-slider a{padding: 10px; position: relative; top: 30%; left: 60%;}
    .LG-slider1{margin-top: -205px;}
    .LG-slider1 h2{font-size: 30px; position: relative; top: 10%; left: 60%;}   
    .LG-slider1 a{padding: 10px; position: relative; top: 18%; left: 60%;}
    .LG-slider2{margin-top: -400px;}
    .LG-slider2 h2{
        position: relative;
        top: 25%;
    }
    .LG-slider2 a{
        padding: 10px;
        border-radius: 5px;
        position: relative;
        top: 35%;
    }
    .soundbars-section{margin-top: -150px;}
    
}

@media (max-width: 425px){
    .tv-section1 p{font-size: 0.8rem;}
    .tv-slider h1{font-size: 25px; position: relative; top: 12%; left: 58%;}
    .tv-slider a{font-size: 0.55rem; padding: 8px; border-radius: 8px; position: relative; top: 16%; left: 58%;}
    .speakers-section{margin-top: -300px;}
    .patners-section2{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 30px;
        margin: auto;
    }
    .LG-slider a{font-size: 12px; padding: 10px; position: relative; top: 15%; left: 60%;}

    .LG-slider1{margin-top: -342px;}
    .LG-slider1 h2{
        font-size: 18px;
        position: relative;
        top: 5%;
        left: 60%;
    }
    .LG-slider1 a{
        font-size: 12px;
        padding: 10px;
        position: relative;
        top: 7%;
        left: 60%;
    }
    .LG-slider2{margin-top: -550px;}
    .LG-slider2 h2{font-size: 24px; position: relative; top: 5%;}
    .LG-slider2 a{font-size: 12px; padding: 10px; position: relative; top: 10%;}
    .soundbars-section{margin-top: -250px; margin-bottom: 600px!important;}
    .soundbars-section .col1 .img1{
        background-image: url("../img/bluntspeaker.webp");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .soundbars-section .col1 .img2{
        margin-top: -120px;
        background-image: url("../img/bluntbluetooth.webp");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .soundbars-section .col1{width: 48%;}
    .soundbars-section .col1 .img1,.img2{height: 300px;}
    .soundbars-section .col2{width: 45%; height: 386px; background-image: url("../img/bluntmifi.webp");
        background-size: cover; background-repeat: no-repeat;
       
    }
    .soundbars-section .col1 h2{ font-size: 24px; color: white; padding: 40px;
    }

    
}

/* MEDIA QUERIES FOR HOME APPLIANCES */
@media (max-width: 1050px){
    .home-slider{
        /* width: 100%;
        height: 500px; */
        margin-top: 40px;
        background-image: url("../img/africa-homeappliances-hero-1-d.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .home-slider .home-para{
    font-size: 14px;
    color: white;
    position: relative;
    top: 35%;
    left: 59%;
}
.home-appliance-hero .appliance-para{font-size: 14px;}
.home-appliance-hero1 h1{font-size: 40px;}
}

@media (max-width: 800px){
    .home-slider h1{font-size: 25px; position: relative; top: 20%; left: 59%;}
    .home-slider .home-para{font-size: 12px; position: relative; top: 25%; left: 59%;}
    .home-slider a{font-size: 14px; padding: 8px; position: relative; top: 30%; left: 59%;}
    .home-appliance-item{margin-top: -150px;}
    .home-appliance-hero h1{font-size: 40px; color: blueviolet; position: relative; top: 10%; left: 50%;}
    .home-appliance-hero .appliance-para{display: none;}
    .home-appliance-hero a{position: relative; top: 20%; left: 50%;}
    .home-appliance-hero1 h1{font-size: 2.5rem; position: relative; top: 30%; left: 50%;}
    
    .home-appliance-hero1 a{position: relative; top: 35%; left: 57%;}
}

@media (max-width: 425px){
    body{overflow-y: hidden;}
    .home-appliances p{font-size: 0.7rem;}
    br{display: none;}
    .home-slider h1{font-size: 15px; position: relative; top: 10%; left: 55%;}
    .home-slider .home-para{font-size: 10px; position: relative; top: 12%; left: 40%;}
    .home-slider a{font-size: 12px; padding: 5px; position: relative; top: 15%; left: 59%;}
    .home-appliance-item{margin-top: -250px;}
    .home-appliance-hero{
        background-image: url("../img/africa-homeappliances-supercategory.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .home-appliance-hero h1{font-size: 16px; color: blueviolet; position: relative; top: 10%; left: 20%;}
    .home-appliance-hero a{font-size: 12px; padding: 6px; border-radius: 5px; position: relative; top: 15%; left: 40%;
    }
    .home-appliance-hero1{
        margin-top: -627px;
        background-image: url("../img/africa-homeappliances-supercategory-6\(1\).jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .home-appliance-hero1 h1{font-size: 16px; color: white; position: relative; top: 10%; left: 20%;}
    .home-appliance-hero1 a{ font-size: 14px; padding: 5px; position: relative; top: 15%; left: 40%;}
    .footer-section{margin-top: -640px;}
    .footer-section1{display: grid; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); gap: 30px;}
}